<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="js/index.js"></script>
    <script src="js/xueyuan_count.js"></script>
    <link rel="stylesheet" href="css/count.css">


    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div id="main">
    <!--导航条-->
    <div class="nav">
        <div class="logo">
            <!--logo图片-->
            <img src="imges/logo.png" alt="">
        </div>

        <!--个人登录-->
        <div class="person-status">
            <span>欢迎你：</span>
            <span id="drop_down">
            管理员<span class="caret icon-down"></span>
            <div id="drop_name">
                <ul>
                    <li><a href="person.html">个人资料</a></li>
                </ul>
            </div>
        </span>
            <span><a href="">退出</a></span>
        </div>
    </div>


    <!--中部内容-->

    <!--左侧选项卡-->
    <div class="options-list">
        <ul>
            <li class="profile-li" id="person-detail">
                <a href="#" ><span class="glyphicon glyphicon-user"></span>个人中心</a>
                <!--<span class="glyphicon glyphicon-chevron-down icon"></span>-->
            </li>
            <ul class="subnav1 my1" id="check1">
                <li><a href="person.html">个人信息</a></li>
                <li><a href="#">修改密码</a></li>
                <li><a href="#">修改邮箱</a></li>
            </ul>

            <li id="id-detail"><a href=""><span class="glyphicon glyphicon-wrench"></span>账号管理</a>
                <span class="glyphicon glyphicon-chevron-down icon"></span>
            </li>

            <ul class="subnav2 my2" id="check2">
                <li><a href="xueyuan_count.html">学院账号管理</a></li>
                <li><a href="jiaoyanshi_count.html">教研室账号管理</a></li>
                <li><a href="pingshen_count.html">评审人账号管理</a></li>
            </ul>
            <li id="psfp"><a href="psfp.html"><span class="glyphicon glyphicon-tasks"></span>评审分配</a></li>
            <li id="jysck"><a href="see_jys.html"><span class="glyphicon glyphicon-list "></span>教研室查看</a></li>
            <li id="lsjl"><a href="history.html"><span class="glyphicon glyphicon-folder-open"></span>历史纪录</a></li>
            <li id="phb"><a href="paihangbang.html"><span class=" glyphicon glyphicon-sort "></span>排行榜</a></li>
        </ul>
    </div>
    <!--内容-->
    <div class="content">
        <div class="filter-bar">
            <span>排行榜</span>
            <div class="form-inline select-bar">
                <select class="form-control">
                    <option>2018~2019上半年</option>
                    <option>2016~2017下半年</option>
                    <option>2017~2018上半年</option>
                    <option>2016~2017下半年</option>
                    <option>2018~2019上半年</option>
                </select>
                <button type="button" class="btn btn-info">检索</button>
            </div>
        </div>
        <div class="show">
            <table class="table table-bordered" style="padding: 0;margin: 0">
                <thead>
                <th class="active">排名</th>
                <th class="active">教研室名称</th>
                <th class="active">所属系院</th>
                <th class="active">总分</th>
                <th class="active">操作</th>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>html教研室</td>
                    <td>软件学院</td>
                    <td>xxx</td>
                    <td><a href="see_jys_detail.html">查看详情</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>css教研室</td>
                    <td>软件学院</td>
                    <td>xxx</td>
                    <td><a href="see_jys_detail.html">查看详情</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>js教研室</td>
                    <td>软件学院</td>
                    <td>xxx</td>
                    <td><a href="see_jys_detail.html">查看详情</a></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <div class="footer">
        <span>Nanyang institute of Technology 中国 河南 南阳市长江路80号</span><br>
        <span>GIS研发工作室</span>
    </div>
</div>



</body>
</html>