<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/person.js"></script>


    <link rel="stylesheet" href="css/index.css">
</head>
<body>



<div class="main">
    <!--导航条-->
    <div class="nav">
        <div class="logo">
            <!--logo图片-->
            <img src="imges/logo.png" alt="">
        </div>

        <!--个人登录-->
        <div class="person-status">
            <span>欢迎你：</span>
            <span id="drop_down">
            管理员<span class="caret icon-down"></span>
            <div id="drop_name">
                <ul>
                    <li><a href="person.html">个人资料</a></li>
                </ul>
            </div>
        </span>
            <span><a href="">退出</a></span>
        </div>
    </div>
    <!--左侧选项卡-->
    <div class="options-list">
        <ul>
            <li class="profile-li" id="person-detail">
                <a href="#" ><span class="glyphicon glyphicon-user"></span>个人中心</a>
                <!--<span class="glyphicon glyphicon-chevron-down icon"></span>-->
            </li>
            <ul class="subnav1 my1" id="check1">
                <li><a href="person.html">个人信息</a></li>
                <li><a href="#">修改密码</a></li>
                <li><a href="#">修改邮箱</a></li>
            </ul>

            <li id="id-detail"><a href=""><span class="glyphicon glyphicon-wrench"></span>账号管理</a>
                <span class="glyphicon glyphicon-chevron-down icon"></span>
            </li>

            <ul class="subnav2 my2" id="check2">
                <li><a href="xueyuan_count.html">学院账号管理</a></li>
                <li><a href="jiaoyanshi_count.html">教研室账号管理</a></li>
                <li><a href="pingshen_count.html">评审人账号管理</a></li>
            </ul>
            <li id="psfp"><a href="psfp.html"><span class="glyphicon glyphicon-tasks"></span>评审分配</a></li>
            <li id="jysck"><a href="see_jys.html"><span class="glyphicon glyphicon-list "></span>教研室查看</a></li>
            <li id="lsjl"><a href="history.html"><span class="glyphicon glyphicon-folder-open"></span>历史纪录</a></li>
            <li id="phb"><a href="paihangbang.html"><span class=" glyphicon glyphicon-sort "></span>排行榜</a></li>
        </ul>
    </div>
    <!--内容-->
    <div class="content">
        <div class="filter-bar">
                <span><a href="">个人中心</a></span>
                <span>></span>
                <span><a href="">个人信息</a></span>
        </div>
        <div class="show">
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group group">
                        <div class="input-group-addon">用户名：</div>
                        <input type="text" class="form-control" id="username" placeholder="xxx" disabled>
                    </div><br>
                    <div class="input-group group">
                        <div class="input-group-addon">新密码：</div>
                        <input type="password" class="form-control" id="pwd_new" placeholder="xxx" disabled>
                    </div><br>
                    <div class="input-group group" id="none">
                        <div class="input-group-addon">确认新密码：</div>
                        <input type="password" class="form-control" id="new_rep" placeholder="xxx" disabled>
                    </div><br>
                </div><br>

                <button type="submit" class="btn btn-primary edit" id="edit">编辑</button>
                <button type="submit" class="btn btn-primary sub">保存修改</button>
            </form>
        </div>
    </div>
</div>



<div class="footer">
    Nanyang institute of Technology 中国 河南 南阳市长江路80号
</div>
</body>
</html>